--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]==0.4.26
jaxlib==0.4.26+cuda12.cudnn89 
absl-py==1.0.0
biopython==1.79
chex==0.1.86
dm-haiku==0.0.12
dm-tree==0.1.8
docker==5.0.0
immutabledict==2.0.0
ml-collections==0.1.0
numpy==1.24.3
pandas==2.0.3
setuptools==78.1.1
scipy==1.11.1
tensorflow-cpu==2.16.1
